<table class="table table-striped table-bordered mt-2">
  <thead class="thead-light">
  <tr>
    <th scope="col">序号</th>
    <th scope="col">名称</th>
    <th scope="col">型号</th>
    <th scope="col">种类</th>
    <th scope="col">内部编号</th>
    <th scope="col">所属部门</th>
    <th scope="col">存放位置</th>
    <th scope="col">状态</th>
    <th scope="col">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let equipment of equipments.content; let $index = index;">
    <td>{{$index + 1}}</td>
    <td>{{equipment?.name}}</td>
    <td>{{equipment?.model}}</td>
    <td>{{equipment?.type?.name}}</td>
    <td>{{equipment?.internalNumber}}</td>
    <td>{{equipment?.department?.name}}</td>
    <td>{{equipment?.place}}</td>
    <td [style.color]="getFontColor(equipment.states)">{{equipment?.states | status}}</td>
    <td>
      <button type="button" class="btn btn-info btn-sm mr-2" (click)="open()"
              [disabled]="equipment.states != 1 || equipment.states === 6">
        <i class="fab fa-strava"></i>
        归还
      </button>
    </td>

    <yz-modal *ngIf="showModel">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">归还设备</h5>
        </div>
        <div class="modal-body" >
          <label class="mt-1">您的体验评分：</label>
<!--          <input type="number" max="5" min="0" [formControl]="scoreFormControl" class="form-control rounded" placeholder="请输入0~5的数字">-->
<!--          <small *ngIf="scoreFormControl.touched && (scoreFormControl.value > 5 ||  scoreFormControl.value < 0)"><code>-->
<!--            请输入0~5的数字-->
<!--          </code></small>-->
          <div class="stars">
            <img [src]="pic.flag == 0 ? pic.grayStar: pic.yellowStar" alt="" *ngFor="let pic of lists; let i = index" (click)="clickStars(i)">
<!--            <p>{{score+'星'}}</p>-->
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="onClose()" class="btn btn-default" type="button">取消</button>
          <button [disabled]="this.score<=0"
                  class="btn btn-primary" type="button" (click)="return(equipment)">确认归还</button>
        </div>
      </div>
    </yz-modal>

  </tr>
  </tbody>
</table>
