<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="equipmentManagementSystem.Mybatis.EquipmentMapper">

<!--         type指向javabean类，id可自定义 -->
        <resultMap id="equipmentMap" type="equipmentManagementSystem.entity.Equipment" >
            <!-- property对应实体类的属性名称，column为数据库字段名 -->
            <result column="internal_number" property="internalNumber"/>
            <result column="type_id" property="type.id"/>
            <!-- 集合中的property须为oftype定义的pojo对象的属性-->
<!--            <collection property="pojo的集合属性" ofType="集合中的pojo对象">-->
<!--            <collection property="type" ofType="equipmentManagementSystem.entity.Type">-->
<!--                <id column="集合中pojo对象对应的表的主键字段" jdbcType="字段类型" property="集合中pojo对象的主键属性" />-->
<!--                <result column="可以为任意表的字段" jdbcType="字段类型" property="集合中的pojo对象的属性" />-->
<!--            </collection>-->
        </resultMap>
    <select id="findAll" resultMap="equipmentMap">
        select *
        from equipment
    </select>

    <delete id="deleteById" parameterType="Long">
        delete
        from equipment
        where id=#{id}
    </delete>

    <select id="findById" resultMap="equipmentMap">
        select *
        from equipment
        where id=#{id}
    </select>
</mapper>