<div class="container-fluid p-0">
  <div class="content" style="height: 100vh">
    <div class="container">
      <div class="row pt-5 ">
        <div class="col mt-5 pl-3 pr-3 pt-4 pb-4 bg-white login-form">
          <h6 class="text-center">登录</h6>
          <hr>
          <form [formGroup]="loginForm" (ngSubmit)="login()" >
            <div class="form-group">
              <label for="username">用户名<code>*</code></label>
              <input class="form-control" id="username" placeholder="请输入用户名" formControlName="username"/>
            </div>
            <div class="form-group">
              <label for="password">密码<code>*</code></label>
              <input type="password" class="form-control" id="password" placeholder="请输入密码" formControlName="password"/>
            </div>
            <ng-template [ngIf]="errorInfo">
              <hr>
              <small class="text-danger">{{ errorInfo }}</small>
            </ng-template>
            <hr>
            <button type="submit" [disabled]="loginForm.invalid"
                    class="btn form-control login-button">
              登录
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
