<div><p style="font-size: 50px;color: darkolivegreen;float: left">设备管理小组：</p><p style="font-size: 30px;color: #2c3e50;float: left;margin-left: 500px;margin-bottom: 50px">人若有志，就不会在半坡停止。</p></div>
<div class="card col-2" style="float: left;">
  <div class="col-1"></div>
  <div class="photo">
    <img src="../../../../assets/images/1.png">
  </div>
  <h1>郝泽龙</h1>
  <h2>195717</h2>
</div>
<div class="card col-2" style="float: left">
  <div class="photo">
    <img src="../../../../assets/images/2.png">
  </div>
  <h1>洪文韬</h1>
  <h2>195750</h2>
</div>
<div class="card col-2" style="float: left">
  <div class="photo">
    <img src="../../../../assets/images/3.png">
  </div>
  <h1>许一普</h1>
  <h2>195759</h2>
</div>
<div class="card col-2" style="float: left">
  <div class="photo">
    <img src="../../../../assets/images/4.png">
  </div>
  <h1>郭馥瑜</h1>
  <h2>195738</h2>
</div>
<div class="card col-2" style="float: left">
  <div class="photo">
    <img src="../../../../assets/images/5.png">
  </div>
  <h1>路佳微</h1>
  <h2>195773</h2>
</div>


