<form (ngSubmit)="onQuery()">

  <div class="input-group mb-3">

      <label class="mt-1">名称：</label>
    <input type="text" class="form-control rounded col-1 h-100" placeholder="" [formControl]="queryParams.name">

    <label class="mt-1 ml-5">编码：</label>
    <input type="text" class="form-control col-1 rounded" placeholder="" [formControl]="queryParams.internalNumber">

    <label class="mt-1 ml-5">存放位置：</label>
    <input type="text" class="form-control col-1 rounded " placeholder="" [formControl]="queryParams.place">

    <label class="mt-1 ml-5">设备大类：</label>
    <app-type-selector id="type" class="rounded" (goodsSelect)="bindType($event)"></app-type-selector>

    <button class="btn btn-sm btn-warning ml-5" (click)="clear()">
      <i class="fas fa-trash-alt"></i>
      清空
    </button>
  </div>
<!--    <div class="row">-->
<!--        <label for="type" class="form-text">类别：</label>-->
<!--      <div class="col-md-5">-->
<!--        <app-type-selector id="type" (goodsSelect)="bindType($event)"></app-type-selector>-->
<!--      </div>-->
<!--    </div>-->


  &nbsp;
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" [checked]="1" (change)="onCheckBoxChange($event, 4)" id="customRadioInline5" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline5">全部</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" (change)="onCheckBoxChange($event, 0)" id="customRadioInline0" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline0">正常</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" (change)="onCheckBoxChange($event, 1)" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline1">已借出</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" (change)="onCheckBoxChange($event, 2)" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline2">报修中</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" (change)="onCheckBoxChange($event, 3)" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
    <label class="custom-control-label" for="customRadioInline3">已报废</label>

    <button type="submit" class="btn btn-success btn-sm ml-xl-5"><i class="fas fa-search">&nbsp;</i>查询</button>
  </div>


</form>

<div class="row">
  <div class="col-lg-4">
  </div>
  <div class="col-lg-8 text-right button-group">
    <a class="btn btn-info btn-sm text-white mr-2" routerLink="/equipment/recommend">
      <i class="fas fa-thumbs-up"></i>
      借用推荐
    </a>
    <a class="btn btn-primary btn-sm text-white" routerLink="/equipment/add">
      <i class="fas fa-plus"></i>
      购入填报
    </a>
  </div>
</div>
<table class="table table-striped table-bordered mt-2" *ngIf="currentUser">
  <thead class="thead-light">
  <tr>
    <th scope="col">序号</th>
    <th scope="col" style="width: 111px;">名称</th>
    <th scope="col" >型号</th>
    <th scope="col" style="width: 66px;">种类</th>
    <th scope="col">内部编号</th>
    <th scope="col" style="width: 66px;">所属部门</th>
    <th scope="col">存放位置</th>
    <th scope="col">状态</th>
    <th scope="col">相关人</th>
    <th scope="col" style="width: 380px">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let equipment of equipments.content; let $index = index;">
    <td>{{$index + 1}}</td>
    <td>{{equipment?.name}}</td>
    <td>{{equipment?.model}}</td>
    <td>{{equipment?.type?.name}}</td>
    <td>{{equipment?.internalNumber}}</td>
    <td>{{equipment?.department?.name}}</td>
    <td>{{equipment?.place}}</td>
    <td [style.color]="getFontColor(equipment.states)">{{equipment?.states | status}}</td>
    <td >
      <label *ngIf="equipment?.states === 1"><label class="text-primary" >借用人：</label>{{equipment?.user?.name}}</label>
      <label *ngIf="equipment?.states >= 4"><label class="text-primary">审批员：</label>{{equipment?.department?.user?.name}}</label>
      <label *ngIf="equipment?.states < 4 && equipment?.states !== 1">无</label>
    </td>


    <td>
      <button type="button" class="btn btn-primary btn-sm mr-2" routerLink="/equipment/edit/{{equipment.id}}" *ngIf="(currentUser.role == 0 || currentUser.role == 3)"
              [disabled]="equipment.states != 0">
        <i class="far fa-edit"></i>
        编辑
      </button>
      <button type="button" class="btn btn-info btn-sm mr-2" routerLink="/equipment/borrow/{{equipment.id}}"
              [disabled]="equipment.states != 0">
        <i class="fab fa-strava"></i>
        借用
      </button>
      <button type="button" class="btn btn-warning btn-sm mr-2" (click)="report(equipment)"
              [disabled]="equipment.states != 0">
        <i class="fas fa-tools"></i>
        报修
      </button>
      <button type="button" class="btn btn-secondary btn-sm mr-2" (click)="scrap(equipment)"
              [disabled]="equipment.states != 0">
        <i class="fab fa-strava"></i>
        报废
      </button>

      <button type="button" class="btn btn-danger btn-sm mr-2" (click)="delete(equipment)" *ngIf="(currentUser.role == 0 || currentUser.role == 3)"
              [disabled]="equipment.states != 0">
        <i class="fas fa-trash-alt"></i>
        删除
      </button>
    </td>
  </tr>
  </tbody>
</table>
<app-page *ngIf="equipments.totalPages !== 0" [setTotalPages]="equipments.totalPages" [setPage]="queryParams.page" [setSize]="queryParams.size" (selectedPage)="onPageSelected($event)" (selectedSize)="onSizeSelected($event)"></app-page>


