<form [formGroup]="equipmentForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-md-6 offset-md-1">
      <div class="row">
        <div class="col-md-6 text-right">
          <label  class="form-text">设备名称<code>*</code></label>
        </div>
        <div class="col-md-6">
          {{equipment.name}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 text-right">
          <label  class="form-text">设备内部编号<code>*</code></label>
        </div>
        <div class="col-md-6">
          {{equipment.internalNumber}}
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 text-right">
          <label>借出部门<code>*</code></label>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="custom-control-inline">
              <app-department-selector (goodsSelect)="bindEuqipment($event)"></app-department-selector>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="offset-md-6">
          <button type="submit" class="btn btn-primary">
            <i class="far fa-save"></i>
            &nbsp;保存
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
