<div class="container-fluid p-0" xmlns="http://www.w3.org/1999/html">
  <div class="content" style="height: 100vh">
    <div class="container">
      <div class="row pt-5 ">
        <div class="col mt-5 pl-3 pr-3 pt-4 pb-4 bg-white login-form">
          <h6 class="text-center">重置密码</h6>
          <hr>
          <form [formGroup]="forgetForm" (ngSubmit)="reset()" >
            <div class="form-group">
              <label for="username">用户名<code>*</code></label>
              <input class="form-control" id="username" placeholder="请输入用户名" formControlName="username"/>
            </div>
            <div class="form-group">
              <label for="phone">预留邮箱<code>*</code></label>
              <input class="form-control" id="phone" placeholder="请输入邮箱" formControlName="phone"/>
            </div>
            <div class="form-group">
              <label for="captcha">验证码<code>*</code></label>
              <br>
              <input  style="display: inline-block" class="form-control w-50" id="captcha" placeholder="请输入验证码" formControlName="captcha"/>
              <a>
                <input type="button" (click)="count()" value="获取验证码" style="display: inline-block;margin-left: 35px;height: 34px;width: 100px" id="getCode">
              </a>
            </div>
            <div class="form-group">
            <label for="password">密码<code>*</code></label>
            <input class="form-control" id="password" placeholder="请输入新密码" formControlName="password"/>
            </div>
            <ng-template [ngIf]="errorInfo">
              <hr>
              <small class="text-danger">{{ errorInfo }}</small>
            </ng-template>
            <hr>
            <a href="JavaScript:history.go(-1)" class="float-right mb-3" style="font-size:88%">返回登陆</a>
            <button type="submit" [disabled]="forgetForm.invalid"
                    class="btn form-control login-button">
              重置密码
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
